@charset "UTF-8";

/*
    em HTML é id = em css é # (só pode um elemento)
    em HTML é class = em css é . (pode vários elementos)
*/

body {
    background-color: #3ED085;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(21, 70, 2);
}

h1#principal {
    text-align: center;
    background-color:  #39DB00;
    color: white;
}

h2 {
    color:rgb(25, 77, 5) ;
}

.basico {
    color: rgb(25, 77, 5);
}

.intermediario {
    color: #2D332B;
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgba(180, 180, 38, 0.404);
}